@import "variables";
@import "donate";
@import "header";
@import "footer";


body {
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  padding:0;
  color:#666;
}


/*---------- button -------*/

#arrow-down {
  background-color: rgba(225, 225, 225, 0.5);
  cursor:pointer;
  text-align: center;
  @media(max-width:800px){
    display:none;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


main {
  display:grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50px auto;
  @media (max-width:825px) {
    display:block;
  }
}

form {
  grid-column:1/2;
  grid-row:1/2;
  margin-top: 20px;
  font-size:18px;



  input[type=checkbox] {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    padding: 10px;
    margin-right:5px;
  }

  .checkbox-inline {
    line-height: 1.6;
    border-radius: 5px;
    padding:5px;
    margin-right:50px;
  }
}

#check-form {
  label {
    white-space: nowrap;
  }
}

#map {
  grid-column:1/2;
  grid-row:2/3;
  border: 1px solid lightgrey;
  margin-top: 20px;
  height: 90vh;


  .leaflet-popup-content-wrapper {
    font-size:15px;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    text-align: left;
  }

  .leaflet-popup-content {
    line-height: 1.5;
  }
}

#test-form {
  grid-column:2/3;
  grid-row:2/3;
  margin-left:10px;

  div {
    margin-bottom:20px;
  }

  input, textarea, select[name='field_dropdown'], #submit-form {
    margin-top:5px;
    padding:5px;
    //border:none;
    //background-color: #f2f2f2;

  }

  select[name='field_dropdown'] {
    padding:5px;
    font-size:16px;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    box-shadow:inset 0 1px 0 0 #ffffff;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    //border-radius:6px;
    border:1px solid grey;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0 1px 0 #ffffff;

  }

  #submit-form {
    font-size:16px;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;

  }
}


button#submit-form {
  box-shadow:inset 0 1px 0 0 #ffffff;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color:#ffffff;
  //border-radius:6px;
  border:1px solid lightgrey;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size:15px;
  font-weight:bold;
  padding:8px 24px;
  text-decoration:none;
  text-shadow:0 1px 0 #ffffff;
}

button#submit-form:hover {
  background-color:lightgrey;
}



#partners-logo {
  text-align: center;
  //color: $dark;
  //background-color: white;
  display: flex;
  flex-direction: column;
  width:50%;
  margin:50px auto;
  align-items:flex-start;
  align-content:flex-start;
  @media (max-width:825px) {
    width:90%
  }

  h2 {
    margin: auto;
    text-align: center;
  }

  #logoContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items:center;
    align-content:flex-start;
    justify-content: space-around;
    @media (max-width:825px) and (orientation:landscape) {
      display: flex;
      width:90%
    }
    @media (max-width:825px) and (orientation: portrait) {
      width:90%;
      display: block;
    }
  }

  img {
    max-width: 300px;
    @media (max-width:825px) and (orientation: portrait) {
      width:90%;
      display: block;
    }
  }

  #vidro {
    width:40%;
    @media (max-width:825px) and (orientation: portrait) {
      width:90%;
      margin:  20px auto;
    }
  }


  #sweden {
    width:30%;
    @media (max-width:825px) and (orientation: portrait) {
      width:90%;
      margin: 20px auto;
    }
  }
}



